.row {
  margin: 0;
  padding: 0;
}
.col-lg-6 {
  padding-left: 0;
}
.myBg {
  background-image: url("../header-background.jpg");
  height: 100vh;
}
.image1 {
  margin-top: 10px;
}
.heading1 {
  text-align: center;
  color: darkcyan;
  font-weight: 900;
  font-size: 2rem;
}
.text1 {
  text-align: center;
  margin-top: 10px;
  font-weight: 500;
}
