body{
    background-color: #1D2521;
    font-family: 'Poppins', sans-serif;
}
.header-text{
    color: #069C54;
}
.center2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;
  }
  .center-img {
    margin-top: 115px;
  }
  .btn-home{
      background-color: #069C54;
      margin-top: -175px;
  }
  @media (max-width: 576px) {
    .header-text{
        margin-top: -150px;
        margin-right: 40px;
        text-align: center;
        font-size: 60px;
        font-weight: 500;
        margin-bottom: -20px;
       
    }
    .btn-home{
        margin-top: 80px;
        display: block;
        width: 100%;
        margin-left: 50px;
        font-size: 20px;
        font-weight: 700;
    }
    .center-img {
        margin-top: -80px;
        margin-left: 40px;
        margin-bottom: 60px;
      }
  }