.student {
  /* background-color: #1b1464; */
  height: 100vh;
}
.text2 {
  text-align: center;
  color: white;
  font-weight: 900;
  margin-bottom: 60px;
  padding: 20px;
}
/* .block:hover {
  background-color: #f7a51c;
  border-radius: 1rem;
  
} */

/* .img:hover{
  width: 10%;
} */

.myblock {
  text-align: center;
}

.myblock:hover{
    filter: brightness(00) invert(0);
    -webkit-filter: brightness(00) invert(1);
    cursor: pointer;
}